*{
    box-sizing: border-box;
    }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    }

    .seletor {
    display: block;    /* Faz o select se comportar como um bloco */
    margin: 20px auto; /* 'auto' nas laterais centraliza o elemento horizontalmente */
    padding: 10px;
    width: 300px;
    border: 1px solid #dbb56d; /* Cor dourada combinando com seu tema */
    border-radius: 5px;
    }

    .mapa{
        width: 600px;  /* Largura fixa */
        height: 450px; /* Altura fixa */
        margin: 0 auto; /* Centraliza a div na horizontal */
        border: 2px solid #dbb56d;
        background-color: #f4f4f4; /* Cor de fundo caso a imagem falhe */
        overflow: hidden; /* Garante que nada saia para fora das bordas arredondadas (se houver) */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mapa iframe {
        width: 100%;
        height: 100%;
        border: none;
    }